<?xml version="1.0" encoding="UTF-8"?>
<PathOfBuilding>
	<Mode mode="BUILD">
		<Arg string="D:\Projects\POE\PathOfBuildingCN17173-Dev/Builds/召唤.xml"/>
		<Arg string="召唤"/>
	</Mode>
	<Accounts lastAccountName="%E7%82%B9%E7%82%B9%E7%A8%BB%E8%8A%B1%E9%A6%99" lastRealm="PC">
		<Account accountName="Scorp"/>
		<Account accountName="Laya"/>
		<Account accountName="%E7%82%B9%E7%82%B9%E7%A8%BB%E8%8A%B1%E9%A6%99"/>
		<Account accountName="Mathil"/>
		<Account accountName="%E5%95%8A%E6%9D%B0%E4%B9%8B%E8%B7%AF"/>
		<Account accountName="%E5%85%89%E5%BD%B1%E8%B7%AF%E8%A5%BF%E6%B3%95"/>
	</Accounts>
	<SharedItems/>
	<Misc thousandsSeparator="," nodePowerTheme="RED/BLUE" decimalSeparator="." showThousandsSeparators="false" buildSortMode="NAME"/>
</PathOfBuilding>
